.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.card {
  width: min(720px, 90vw);
  min-height: 100vh;
  padding: 2rem 2.5rem;

  background: rgba(238, 242, 254, 0.4);
  border-radius: 12px;
  backdrop-filter: blur(8px);

  text-align: start;
}